@import '../common.scss';

// setup
.wp-block-milieux-blocks-features {
	width: 100%;
	background: #f7f9fe;
}

[data-type="milieux-blocks/features"] {
	max-width: 100% !important;
}

// utility
.t-up {
	text-transform: uppercase;
}

.section-title {
	font-weight: $font-w-bold;
	font-family: $font-sans-serif;
	text-transform: uppercase;
	padding: 2 * $u;
}

// main
.mlx-features {
	@at-root #{&}__items {
		.entry-title a {
			color: #555;
			font-family: $font-sans-serif;
			padding: 10px;
			padding-left: 2 * $u;
			text-decoration: none;
		}
	}
}

.mlx-featured-feature {

}

.post-list-item:hover {
	background: #f7f7f7;
	cursor: pointer;
}
