@import '../common';

// for milieux blocks - move when ready
$mlx-features__total-columns: 4;

.mlx-block-features {
	background: $gray-darker;

		// ovveride to a style provided by the milieux theme
	.page-type-title {
		color: rgba($white, 0.22);
		max-width: 1400px;
		margin: 0 auto;
		text-transform: uppercase;
		letter-spacing: 0.01px;
		padding: u(3);
	}

	// The featured post
	.featured {
		margin-top: u(2);
		margin-bottom: u(4);

		.featured__image-container {
			position: relative;
			height: 0;
			display: block;
			width: 100%;
			/* padding-bottom is calculated and rendered in to HTML */

			img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
			}
		}

		@at-root #{&}__inner {
			grid-template-columns: 40% 1fr;
			grid-gap: u(2);
			color: $white;
			max-width: 1400px;
			margin: 0 auto;

			a {
				text-decoration: none;
				max-width: 740px;
			}

			h2 {
				color: $white;
				text-transform: uppercase;
				padding: 0;
				margin: 0;
				@include media('>tablet') { & {
					font-size: 2rem;
				}}
				@include media('>desktop') { & {
					font-size: 2.4rem;
				}}
			}
		}

		@at-root #{&}__meta {
			padding: u();
			display: flex;
			flex-direction: column;
		}

		@at-root #{&}__byline {
			font-family: $font-mono;
			@include font-size(12);
			color: $gray;
			margin-top: u(0.7); // visual alignment with font
		}

		@at-root #{&}__excerpt {
			color: $gray;
			padding-top: u();
			margin-bottom: u();
			max-width: 700px;
		}

		@at-root #{&}__readmore {
			color: $white;
			margin-top: auto;
			@include font-size(30);

			a {
				padding: 4px;
				color: inherit;
				border-bottom: 1px solid rgba($color-brand, 0.5);
				box-shadow: inset 0 -10px 0 rgba($color-brand, 0.5);
				&:hover {
					box-shadow: inset 0 -38px 0 rgba($color-brand, 0.5);
				}
			}
		}

		@include media('>tablet') { & {
			@at-root #{&}__inner {
				display: grid;
			}
		}}
	}


	@at-root #{&}__container {
		padding: u();
		max-width: 1400px;
		margin: 0 auto;
		@include media('>tablet') { & {
			padding: u(2);
		}}

		@include media('>desktop') { & {

		}}

		&.is-grid {
			display: grid;
			flex-wrap: wrap;
			grid-gap: u();
		}
		@for $i from 0 through $mlx-features__total-columns {
			&.columns-#{$i} {
				grid-template-columns: repeat(#{$i}, 1fr);
				grid-row-gap: u(2);
				@include media('<1000px') { & {
					display: block;
				}}
			}
		}

		// the article proper
		article {
			display: inline-grid;
			@include media('>tablet') { & {
				grid-template-columns: 1fr 1fr;
			}}

			@include media('>desktop') { & {

			}}
		}
	}

	@at-root #{&}__image {
		overflow: hidden;
		background: $gray-darker;
		margin: u(5) 0 u(1.5) 0;

		@include media('>tablet') { & {
			margin: u();
		}}

		a { // contains the image
			height: 100%;
		}

		img {
			transform: scale(1.05);
			object-fit: cover;
			height: 100%;
			transition:
				opacity .3s cubic-bezier(.215,.61,.355,1),
				transform .5s cubic-bezier(.215,.61,.355,1);
			&:hover {
				opacity: 0.7;
				transform: scale(1);
			}
		}
	}

	@at-root #{&}__text {
		color: $white;

		@include media('>tablet') { & {
			padding: u()
		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__title {
		line-height: 20px;
		font-family: $font-sans-serif;
		font-weight: $font-w-medium;
		@include font-size(20);
		padding-top: 0 !important;
		margin-bottom: u();
	}

	@at-root #{&}__title a {
		color: $white;
		text-decoration: none;
		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__byline {
		opacity: .7;
		transition: opacity .2s ease;
		@include font-size(12);
	  &:hover {
		  opacity: 1;
		}
		a {
			color: inherit;
			text-decoration: none;
		}

		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__excerpt {
		color: $gray;
	}

	@at-root #{&}__link {
		font-family: $font-mono;
		color: $white;
		opacity: 1;
		display: block;
		padding-top: u();
		@include media('>tablet') { & {

		}}

		@include media('>desktop') { & {

		}}
	}

	@at-root #{&}__date {
		font-family: $font-mono;
		color: $white;
		opacity: 1;
		display: block;
		font-size: 10px;
		padding-bottom: u(2);
	}
}
