@import '../common.scss';

[data-type="milieux-blocks/banner"] {
	max-width: 100% !important;
}

// setup
.wp-block-milieux-blocks-banner {
	@extend %mlx-block;
	padding: 0;
}

.mlx-banner {
	@at-root #{&}__title {
		position: absolute;
		top: u();
		left: u();
		color: $white;
		text-transform: uppercase;
	}
}
