@import '../common.scss';

[data-type="milieux-blocks/banner"] {
	max-width: 100% !important;
}

// setup
.wp-block-milieux-blocks-banner {
	@extend %mlx-block;
	padding: 0;
	position: relative;
}

.mlx-banner {
	@at-root #{&}__title {
		font-size: 6vw;
		position: absolute;
		top: u(2);
		left: u(2);
		color: $white;
		text-transform: uppercase;
	}

	@at-root #{&}__container {
		max-height: 400px;
		overflow: hidden;
	}
}
