@import '../common.scss';

// setup
.wp-block-milieux-blocks-features {
	width: 100%;
	background: #f7f9fe;
	border-radius: 4px;
	padding: u();
}

[data-type="milieux-blocks/features"] {
	max-width: 100% !important;
}

// utility
.t-up {
	text-transform: uppercase;
}

.section-title {
	font-weight: $font-w-bold;
	font-family: $font-sans-serif;
}

// main
.mlx-features {
	@at-root #{&}__items {
		.entry-title a {
			color: #555;
			font-family: $font-sans-serif;
			text-decoration: none;
		}
	}
}

.mlx-featured-feature {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 1em;
}

.post-list-item:hover {
	background: #f7f7f7;
	cursor: pointer;
}
