@import '../common.scss';


[data-type="milieux-blocks/events"] {
	max-width: 100% !important;
}

// main
.mlx-events {
	@extend %mlx-block;

	@at-root #{&}__container {

		&.has-main-event {
			@include media('>tablet') {
				display: grid;
				grid-template-columns: 40% 60%;
			}
		}

		.entry-title {
			line-height: 1.2;
			font-size: 16px;
			font-family: $font-sans-serif;
			font-weight: $font-w-normal;
			margin: 0;
			a {
				color: $black;
				text-decoration: none;
			}
		}
	}

	@at-root #{&}__items {
		padding: u();

		article {
			display: flex;
			margin-bottom: u();
			.mlx-events__date {
				font-size: 12px;
			}
		}
	}
	@at-root #{&}__day {
		font-size: $font-sans-serif;
		font-size: 34px;
		padding: 0 u(0.5);
		position: relative;
		top: -10px; // magic numbers
	}

	@at-root #{&}__text time {
		font-size: 12px;
	}
}

.mlx-main-event {
	position: relative;

	@at-root #{&}__image {
		background-size: cover;
		background-position: center center;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		border-radius: 4px;
	}

	@at-root #{&}__meta {
		padding: u();
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
	}

	@at-root #{&}__title {
		color: $white;
		font-family: $font-sans-serif-bold;
		text-transform: uppercase;
		align-self: center;
	}

	@at-root #{&}__date {
		bottom: u();
		right: u();
		color: white;
		position: absolute;
	}
}

// Utility
.mlx-t-number {
	font-family: $font-number;
	font-weight: 100;
}

// fixes Gutenberg regrssion introduced in 4.0
.components-popover .editor-url-input input[type="text"], .editor-block-list__block .editor-url-input input[type="text"], .editor-url-input input[type="text"] {
		width: 100%; // styling was set to 300px forced
}
