@import '../common.scss';

// setup
.wp-block-milieux-blocks-events {
	@extend %mlx-block;
}

[data-type="milieux-blocks/events"] {
	max-width: 100% !important;
}

// main
.mlx-events {
	@at-root #{&}__items {
		.entry-title a {
			color: #555;
			font-family: $font-sans-serif;
			text-decoration: none;
		}
	}
}

.mlx-main-event {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 1em;
}
