@import '../common.scss';

// main
.mlx-events {
	@extend %mlx-block;
	padding: 0;

	@at-root #{&}__container {

		&.has-main-event {
			@include media('>tablet') {
				display: grid;
				grid-template-columns: 40% 60%;
			}
		}

		.entry-title {
			line-height: 1.2;
			font-size: 16px;
			font-family: $font-sans-serif;
			font-weight: $font-w-normal;
			margin: 0;
			padding-top: 0;
			a {
				color: $black;
				text-decoration: none;
			}
		}
	}

	@at-root #{&}__items {
		padding: u(3) u(4);
		.page-type-title {
			text-transform: uppercase;
			padding-top: 0;
			opacity: 0.5;
		}

		article {
			display: flex;
			margin-bottom: u(2);
			.mlx-events__date {
				font-size: 12px;
			}
		}
	}
	@at-root #{&}__day {
		font-size: $font-sans-serif;
		font-size: 34px;
		padding: 0 u(0.5);
		position: relative;
		top: -10px; // magic numbers
	}

	@at-root #{&}__text {
		font-size: 12px;
	}
}

.mlx-main-event {
	position: relative;

	@at-root #{&}__image {
		position: relative;
		height: 100%;
		display: block;
		width: 100%;
		// top: 0;
		// bottom: 0;
		/* padding-bottom is calculated and rendered in to HTML */

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}

	}

	@at-root #{&}__meta {
		padding: u(2);
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		top: 0;
		a {
			text-decoration: none;
		}
	}

	@at-root #{&}__title {
		color: $white;
		font-family: $font-sans-serif-bold;
		text-transform: uppercase;
		align-self: center;
	}

	@at-root #{&}__date {
		bottom: u();
		right: u();
		color: white;
		position: absolute;
	}
}

// Utility
.mlx-t-number {
	font-family: $font-number;
	font-weight: 100;
}
