/**
 * #.# Common SCSS
 *
 * Via the _variables file in the main milieux theme
*/

// Sizing
$u: 1rem; // size unit
$u2 : 2 * $u; // util

// Brand colors
$color-brand:         #0090FC;
$color-secondary: 		#f9a825;
$color-tertiary:			#3b5998;
$color-accent:        #ffffff;

$white:               #FFFFFF;
$black:               #000000;
$off-black:						#1A1A1A;

$gray-darker:         #151515;
$gray-dark:           #6c767f;
$gray:                #AFAFAF;
$gray-light:          #F0F0F0;
$gray-lighter:        #F8F8F8;

// UI Associations
$color-border:	      $gray-light;
$color-link: 	        $color-brand;
$color-nav-bg:				$off-black;

$color-font--base: 		#222;

// social colors
$color-twitter:  #00aced;
$color-facebook: #3b5998;


// Typography
$font-stack: 					 'Source Sans Pro','system';
$font-sans-serif:      'Source Sans Pro', sans-serif;
$font-sans-serif-bold: 'Roboto', sans-serif;
$font-heading:				 'Roboto', sans-serif;
$font-number:					 'Roboto', sans-serif;
$font-mono:            'IBM Plex Mono', monospace;

$font-w-ultra-light: 200;
$font-w-light: 300;
$font-w-normal: 400;
$font-w-medium: 500;
$font-w-bold: 700;
$font-w-extra-bold: 900;

$font-s-base: 16;
$font-s-large: 18;
$font-s-small: 11;

$font-s-number: 45;

$font-s-h1: 36;
$font-s-h1-medium: 34;
$font-s-h2: 24;
$font-s-h3: 20;
$font-s-h4: 18;
$font-s-h5: 14;
$font-s-h6: 12;
